body {
    font-family: sans-serif;
    text-align: center;
}

header {
background-color: #00F6FF;   
color: white ;
text-align: center;
padding-bottom: 30px;
padding-top: 30px;
font-size: 30px;
}

main h1 {
    text-align: center;
} 

footer {
    background-color: #00F6FF;
}
